@import url("https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap");
@import url("//fonts.googleapis.com/earlyaccess/jejugothic.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.css");
@import "tailwindcss";
@config "../tailwind.config.ts";

html,
body {
  background-color: #0f172a;
  color: #f1f5f9;
  font-family: "Jeju Gothic", sans-serif;
  font-size: 18px;
}

@layer components {
  .glass-card {
    @apply bg-white/5 backdrop-filter backdrop-blur-lg rounded-xl border border-text-sub;
  }
}
